# Ignorar dependencias de Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Archivos de entorno y configuración
.env
.DS_Store

# Archivos de logs
logs/
*.log

# Ignorar caché de editor de código
.vscode/
.idea/
*.swp